@media screen and (max-width: 890px) {
  .slogan {
    display: none;
  }
}

@media screen and (max-width: 560px) {
  .header {
    min-width: 300px;
    flex-direction: column;
  }

  .message {
    flex-direction: column-reverse;
  }
}
