.message {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  min-height: calc(100vh - 102px);
}

.message-info {
  max-width: 200px;
  font-size: 1rem;
}

@media screen and (max-width: 550px) {
  .message {
    display: flex;
    flex-direction: column-reverse;
  }
}
